<div class="body">
    <div class="container">
        <header>Search Flight</header>
          <form action="#" [formGroup]="flightSearch">
            <div class="input-field">
                <input formControlName="departure"formControlName="departure" type="text" required>
                <label>Departure</label>
            </div>
            <div class="input-field">
                <input formControlName="arival" type="text" required>
                <label>Arival</label>
            </div>
            <div class="button">
                <div class="inner"></div>
                <button>Search Flight</button>
            </div>
        </form>
        
    </div>
</div>