<div class="body">
<div class="card">
    <div class="card-body">
      <h5 class="card-title">State-wise travel guidelines</h5>
      <p class="card-text">As we take to the skies, in lieu of the COVID-19 situation, various state governments have defined respective protocols for 
        passengers arriving at their airports. Prior to travel, please ensure you check the state-wise guidelines of the city/state you 
        are travelling to and comply with the same to ensure a hassle free journey. 
        <!-- Click here to download the passenger support guide for state-wise regulations.  -->
        Please note the state-regulations are subject to  change, kindly visit the state government website for 
        further details.<br>
        As per DGCA circular, strict actions shall be taken incase of any violation of covid-19 protocols during air travel.<br> 
        <a href="#"> Click here</a> for further information
        
        <!-- International Guidelines
        As per mandate by Government of India all passengers arriving into India by international flights need to register on newdelhiairport.in at least 72 hours prior to departure.
        
        International passengers arriving at the airports have to follow certain guidelines before taking a domestic flight. The guidelines include downloading Aarogya Setu app, complying with thermal screening, filling a self-declaration form and more. Hence, it is advisable to be aware of these guidelines before entering the state. You can read all the guidelines for international arrivals here.
        
        Click here to check eligibility of passengers travel under air bubbles/air travel arrangements.-->
    </p>
    </div>
</div>
</div>