<div class="body">
  <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="#" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input [class.is-invalid]="fullName.invalid && fullName.touched" formControlName="fullName" type="text" placeholder="Enter your name" required [(ngModel)]="registration.fullName">
              <small [class.d-none]="fullName.valid || fullName.untouched  " class="text-danger">Name is required</small>
            </div>
            <div class="input-box">
              <span class="details">Username</span>
              <input  [class.is-invalid]="userName.invalid && userName.touched" formControlName="userName" type="text"  placeholder="Enter your username" required>
              <div *ngIf="userName.invalid && userName.touched">
                <small *ngIf='userName.errors?.required' class="text-danger">Username is required</small>
                <small *ngIf='userName.errors?.minlength'class="text-danger">Username should be atleast 3 charecter long</small>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input [class.is-invalid]="email.invalid && email.touched"formControlName="email" type="email" placeholder="Enter your email" required>
              <div *ngIf="email.invalid && email.touched">
                <small *ngIf='email.errors?.required' class="text-danger">email is required</small>
                <small *ngIf='email.errors?.email'class="text-danger">email should be atleast 3 charecter long</small>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input formControlName="phoneNumber" type="number" placeholder="Enter your number" required>
              <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
                  <small *ngIf='phoneNumber.errors?.required' class="text-danger">Phone Number is required</small>
                  <small *ngIf='phoneNumber.errors?.minlength ||phoneNumber.errors?.maxlength 'class="text-danger">Phone Number should have 10 charecters</small>
                </div>
              </div>
            <div class="input-box">
              <span class="details">Password</span> 
              <input formControlName="password" type="password" placeholder="Enter your password" required>
              <div *ngIf="password.invalid && password.touched">
                <small *ngIf='password.errors?.required' class="text-danger">Password is required</small>
                <small *ngIf='password.errors?.minlength'class="text-danger">Password should be atleast 3 charecter long</small>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" formControlName="confirmPassword" type="password" placeholder="Confirm your password" required>
              <small *ngIf='registrationForm.errors?.misMatch'class="text-danger">ConfirPassword should be same as password</small>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
    </div>
  </div>
</div>