.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
  }
.navbar{
    background-color: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: crimson;
    text-decoration: underline;
}