body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}
header h1{
    text-align: center;
    padding-top: 30px;
    font-size: xx-large;
}
header h3{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: large;
}
#main{
    margin: auto;
    width: 60%;
    background-color: rgba(0, 0, 37, 0.863);
    padding: 40px 40px;
    color: white;
    border-radius: 6px;
    opacity: inherit;
}
.Label{
    padding-top: 20px;
    font-size: larger;
    padding-bottom: 10px;
}
.form-floating{
    padding-bottom: 30px;
}
#submit{
   border-radius: 4px;
   background-color: green;
   width: 100%;
    
}