<div class="body">
    <div class="container">
        <header>Login Form</header>
        <form [formGroup]="loginForm">
            <div class="input-field">
                <input formControlName="userName" type="text" required >
                <label>Username</label>
            </div>
            <div class="input-field">
                <input formControlName="password" class="pswrd" type="password" required>
                <!-- <span class="show"  (click)="toggleFieldTextType()">SHOW</span> -->
                <label>Password</label>
            </div>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field> -->
            <div class="button">
                <div class="inner"></div>
                <button>LOGIN</button>
            </div>
        </form>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field> -->
        <!-- make the following code work -->
        <!-- <div class="signup">
        Not a member? <a href="#">Signup now</a>
        </div> -->
      </div>
    </div>
        <!-- <script type="text/html">
            var input = document.querySelector('.pswrd');
            var show = document.querySelector('.show');
            show.addEventListener('click', active);
            function active(){
              if(input.type === "password"){
                input.type = "text";
                show.style.color = "#1DA1F2";
                show.textContent = "HIDE";
              }else{
                input.type = "password";
                show.textContent = "SHOW";
                show.style.color = "#111";
              }
            }
          </script>
     -->