
.container{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:3rem ;
    position: relative;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content{
 width: 40vw;
 margin-left: -1rem;
 color:#333;
}
.content h1{
     font-size: 4rem;
 }
.content h3{
    font-size: 2.5rem;
    margin: 1rem 0;
    color:crimson;
}
.content p{
    font-size: 1.7rem;
    padding: .5rem 0;
    padding-top: 0rem;
    border-bottom: .2rem solid #333;
    border-top: .2rem solid #333;
}
.content a button{
    outline: none;
    border: none;
    height: 4rem;
    width: 14rem;
    border-radius: 5rem;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
    margin-left: 7rem;
}
.content a button:hover{
    background: #333;
    
}
.image{
    margin-left: 10rem;
    margin-bottom: 7rem;

}
.imgae img{
    width:30vw;
}
@media(max-width:768px){
    .container{
        text-align:center;
    }
    .content{
        width:100%;
        margin:0;
    }
    .image{
        display: none;
    }
}