<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		<bean id="questions" class="com.assignment.Q2.Questions">
                <property name="questionId" value="1" />
                <property name="question" value="What is the use of spring?" />
				<!-- List Injection
				<property name="answers"> 
   					<list>
   						<value>To manage objects life cycle</value>
   						<value>To minimize the complexity of the application</value>
   					</list>
   				</property>-->
				<!-- Set Injection	
				<property name="answers"> 
   					<set>
   						<value>To manage objects life cycle</value>
   						<value>To minimize the complexity of the application</value>
   					</set>
   				</property>-->
				<!-- Map Injection-->
				<property name="answers"> 
   					<map>
   						<entry key = "1" value = "To manage objects life cycle"></entry>
   						<entry key = "2" value ="To manage objects life cycle"></entry>
   					</map>
				</property>
        </bean>
</beans>